<div class="card">
  <div class="book-image-box">
    <img class="card-img-top book-image" [src]='book.image' alt="Card image cap">
  </div>
  <div class="card-block">
    <h4 class="card-title"> {{ book.title }} </h4>
    <h6 class="card-subtitle"> {{ book.author }} </h6>
    <p class="card-text">{{ book.description }}</p>
    <button type="button" class="btn btn-primary btn-block" (click)="loanBook()">
      <i class="fa fa-pencil" aria-hidden="true"></i> Book Loan
    </button>
  </div>
</div>