<div class="card">
  <div class="book-image-box">
    <img class="card-img-top book-image" [src]='book.image' alt="Card image cap">
  </div>
  <div class="card-block">
    <h4 class="card-title"> {{ book.title }} </h4>
    <h6 class="card-subtitle"> {{ book.author }} </h6>
    <p class="card-text">{{ book.description }}</p>
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalLong">
      <i class="fa fa-pencil" aria-hidden="true"></i> Book Loan
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Book Loan.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to rent this book?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="loanBook()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>