<div class="card">
  <div class="container">
    <div class="row rowPropierties">

      <div class="panel icon-order-box field col-2">
        <img class="icon-order-box" [src]='order.image' alt="Item icon">
      </div>

      <div id="textCard" class="field col-4">
        <h5 class="card-text">{{ order.title }}</h5>
      </div>

      <div id="textCard" class="field col-3">
        <p class="card-text">{{order.getTimeAgo()}} minutes ago.</p>
      </div>

      <div id="textCard" class="field col-1">
        <p class="card-text">State:</p>
      </div>
        <span [class]="getButtonClass()">
          {{getTextStatus()}}
          <i [class] = "getButtonImg()"></i>
        </span>
      <div id="textCard" class="field col-1">
        <!--<span [class]="getButtonClass()"> <i [class] = "getButtonImg()"></i></span>-->

      </div>
      
    </div>
  </div>
</div>